
@media(max-width:770px){
     header,
    .goals,
    .main-hero-section,
    .common-section,
    #five-section,
    footer{
        padding: 0 3rem;
    }
    header nav{
        padding-top: 1rem;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
    header nav .left-side-manu{
        width: 100%;
        display: block;
        position: relative;
        order: 2;
    }
    header nav .left-side-manu .sub-manu a{
        width: 50%;
        display: block;
    }
    header nav .left-side-manu .sub-manu a li{
        width: 100%;
        font-size: 1.5rem;
        display: block;
    }
    
    header .right-side-manu{
        width: 100%;
        display: block;
    }
      
    
    /* -----hero-section-css------ */

    .main-hero-section{
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: column;
    }
    .main-hero-section .left-hero-side{
        width: 100%;
        display: block;
        order: 2;
    }
    .main-hero-section .left-hero-side h1{
        width: 100%;
        display: block;
        font-size: 4rem;
    }
    .main-hero-section .left-hero-side p{
        width: 80%;
        display: block;
    }
    .main-hero-section .right-hero-side{
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: transparent;
    }
    
    .main-hero-section .right-hero-side img{
        width: 100%;
        height: inherit;
        display: block;
    } 

    /* ---------------- our section-two left-side css start--------- */
    .common-section{
        display: flex;
        flex-direction: column;
        width: 100%;      

    }
    .common-section .left-side{
        width: 100%;
        display: block;
        order: 2;
    }
    .common-section .right-side{
        width: 100%;
        display: block;
        
    }
    .common-section .right-side h2{
        width: 40%;
        font-size: 2rem;
        line-height: 4rem;
        margin-top: 2rem;
        display: block;
    }
    .common-section .right-side p{
        width: 80%;
        display: block;
    }
    .common-section .right-side .common-button{
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        border: none;
        outline: none;
        line-height: 2rem;
        font-size: 1rem;
        
    } 
    .common-section .right-side .common-button-normal{
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        border: none;
        outline: none;
        line-height: 2rem;
        font-size: 1rem;
    }
        
    

    /* -- ---------Our 3rd section goals ----------------- -- */
    .goals{
        width: 100%;
        display: block;
    }
    .goals h1{
        width: 80%;
        display: block;
        font-size: 3rem;
    }
    .goals .row{
        width: 100%;
        display: block;
        flex-direction: column;
        text-align: center;
    }
    .goals-col h4{
        width: 100%;
        display: block;

    }


        /* -------Five-section---------- */
     #five-section .right-side{
        width: 100%;
        margin-left: 3rem;
    }

        /*---------- Footer style-------     */
    footer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    footer .footer-manu{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
    }

}